# here's the configuration file - runtime variables are listed below
#

showInitialEvents: false
pollIntervalSecs: 15
maxEventsPerPoll: 5
connectTimeout: 2000
socketTimeout: 2000

# we can support up to 10 services indexed 0-9 of a single type
serviceImpl: org.lukep.hudsonheckler.service.HudsonServiceImpl

serviceName-0: my-hudson-server
serviceName-1: another-hudson-server

serviceUrl-0: http://change.this.url/
serviceUrl-1: http://and.change.me.too/

# gnome notifier (for use on Ubuntu, etc)
notifier: gnome

# growl notifier (for use on Mac OS X and Windows) - uncomment to use
#notifier: growl
growlHost: 127.0.0.1

# we'll only care about states matching one of the below; images must be in their respective order
# please note that icons are currently only used by the gnome notifier but it should be trivial to have growl support this!
hudsonStatusMatchers: normal,aborted,broke
hudsonStatusIcons: good.png,bad.png,ugly.png
hudsonStatusDateFormat: E d/M h:ma
