# here's the configuration file - runtime variables are listed below
#

showInitialEvents: false
pollIntervalSecs: 10
maxEventsPerPoll: 5
connectTimeout: 1000
socketTimeout: 1000

# we can support up to 10 services (0-9) of a single type
serviceImpl: org.lukep.hudsonheckler.service.HudsonServiceImpl
serviceName-0: prodman
serviceName-1: storefront
serviceUrl-0: http://hudson-prodman.ocp/
serviceUrl-1: http://hudson-storefront.ocp/

# gnome notifier (for use on Ubuntu, etc)
notifier: gnome

# growl notifier (for use on Mac OS X and Windows) - uncomment to use
#notifier: growl
growlHost: 127.0.0.1

# we'll only care about states matching one of the below; images must be in their respective order
hudsonStatusMatchers: normal,aborted,broke
hudsonStatusIcons: good.png,bad.png,ugly.png
hudsonStatusDateFormat: E d/M h:ma
